*{
	margin-left:auto;
	margin-right:auto;
}
#fix { height:100px;}
body{
    margin: auto;
    overflow-x: hidden;
    font-size: 11px;
    font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;

}

#wrapper {width:100%;
height:100%;}

#button1 {position:fixed;top:185px;left:10px;}
#button2 {position:fixed;top:250px;left:10px;}
#button3 {position:fixed;top:315px;left:10px;}
#button4 {position:fixed;top:380px;left:10px;}

#photos { float:inherit;
padding-left:5%;}
h1, h2, h3,h4, h5,{
  font-family: 'Open Sans', sans-serif;
}
p{
  font-size: 12px;
}

.member-login{
    height: 43px;
    text-shadow: 1px;
    
}

.member-login ul li{
    float: left;
}


.faculties{
font-family: 'Montserrat', sans-serif;
    height: 100%;
    background-color: #e7e7e7;
}
#comp{margin-top: 0px;}


.footer_copyrights{
  height: auto;
  width:auto;
  margin:0;
  background-color: #1d1d1d;
}
.footer-bottom{
    height: auto;
    background-color: #2c3e50;
}
#padding-fac{
    padding-top: 58px;
    padding-bottom: 58px;
} 
#icon-comp{
       padding-left: 20px;
       padding-right: 20px;
  
}
.icon_columns{
  font-family: 'Montserrat', sans-serif;
    text-align: left;
    text-decoration: none;
    margin: 0;

}

.srtipe{
  padding-top: 2px;
  border-bottom:1px dotted #fff;
}
.information{
font-family: 'Montserrat', sans-serif;
    height: 460px;
    margin-top: 30px;

    }

#ico-margin{
  margin-top: 20px;
  margin-left:-40px;
}

#testimonials{
  padding-top: 20px;
  padding-bottom: 20px;
}

#feed-box{
  font-family: 'Open Sans', sans-serif;
    height: 200%;
    background-color: #62bbd8;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

#data-form{
  margin-bottom: 30px;
}

#data-row-2{
  margin-top: 30px;
}

#userIcon{
    margin-top: 65px;
    margin-left: 16px;
    margin-right: 16px; 
}
#feed{
  font-family: 'Open Sans', sans-serif;
    padding-top: 30px;
    margin-top: 20px;
		
}
#subscribe-box{
	
	margin-bottom:20px;
	}
.discover{
    font-family: 'Open Sans', sans-serif;
    height: auto;
    margin-bottom: 1%;
    margin-top: 1%;  
}

#glyp-icon{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#glyp-icon-feed{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#glyp-social-footer{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
}
footer ul li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;

}
footer ul {
    margin-top: 20px;
}

footer ul a {
    color: #FFF;
}

.3x4 ul{
  list-style-type: none;
text-decoration: none;
color: #7d7d7d;
}

.3x4 ul li{
  list-style-type: none;
text-decoration: none;
color: #7d7d7d;
}

.3x4 ul li a{
  list-style-type: none;
 text-decoration: none;
 color: #7d7d7d; 
}

.footer_content {
    /*padding: 20px;*/
    color: #FFF;
}

.footer_left {
    float: left;
}

.footer_right {
    float: right;
    width: auto;
    margin-right: 61px;
    margin-top: 20px;
}

div.footer_all {
margin-left: 38px;
}

.footer_content .fb {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    float: left;
}

.footer_content .tw {
    width: 30px;
    height: 30px; 
    margin-left: 40px;
}

#cal-heading{
  padding-top: 10px;
  padding-left: 5px;
}

#contact{
  margin-bottom: 10px;
}
#padding-info{
  padding-right: 50px;
}

.page{
  height: 70%;
}

.footer-logo{
  height: 36px;
  width: 105px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("img/footer-logo.png");
  background-position: center;
}


.back-image{
  height: 219px;
  width: 817px;
  background-image: url("slider/slider/bg3.png");
  background-position: center;
}
/* category css --------------------------------------------------------------------------------------------*/
section {
    padding: 5% 0;
}

.alizarin {
    background: #e74c3c;
}

.amethyst {
    background: #9b59b6;
}

.emerald {
    background: #2ecc71;
}

.midnight-blue {
    background: #2c3e50;
}

.peter-river {
    background: #3498db;
}

.dl {
    background: #f0f0f0;
    padding: 30px 0;
    border-radius: 20px;
    position: relative;
}

.dl:before {
    content: " ";
    height: 20px;
    width: 20px;
    background: #ddd;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 20px;
    margin-left: -10px;
}
    
.dl .brand {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 15px;
    margin-top: 10px;
    text-align: center;
    min-height: 100px; 
}

.dl .discount {
    min-height: 60px;
    position: relative;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    font-weight: bold;

    padding: 20px 15px 20;
    color: #f1c40f;
}

.dl .discount img{
    padding: 25px 25px 25px 25px;

}
.dl .discount:after {
    content: " ";
    
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 20%;
}

.dl .discount.alizarin:after {
    border-top: 20px solid #e74c3c;
}

.dl .discount.peter-river:after {
    border-top: 20px solid #3498db;
}

.dl .discount.emerald:after {
    border-top: 20px solid #2ecc71;
}

.dl .discount.amethyst:after {
    border-top: 20px solid #9b59b6;
}

.dl .discount .type {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: -30px;
}

.dl .descr {
    color: #999;
    margin-top: 10px;
    padding: 20px 15px; 
}
 
.dl .ends {
    padding: 0 15px;
    color: #f1c40f;
    margin-bottom: 10px;
}

.dl .coupon {
    min-height: 50px;
    text-align: center;
    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 15px;
}

.dl .coupon a.open-code {
    color: #16a085;
}

.dl .coupon .code {
    letter-spacing: 1px;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px 15px;
    color: #f1c40f;
    background: #f0f0f0;
    text-decoration: none;
}
    
#go-button:hover{

background-color:#34495e;

}

#already{
  height: auto;
  width: 571px;
  text-align: center;
}

/* messages timeline -----------------------------------------------------------------------------------*/

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  float: left;
  clear: left;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 95%;
  float: left;
  border: 1px solid #d4d4d4;
  /*border-radius: 2px;*/
  /*padding: 20px;*/
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  right: -12px;
  /*background-color: #999999;*/
  z-index: 100;
  /*
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  */
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge > a {
  color: #C5C7C5 !important;
}
.timeline-badge a:hover {
  color: #000 !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
    padding:20px;
    margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
.timeline-footer{
    padding:20px;
    background-color:#f4f4f4;
}
.timeline-footer > a{
    cursor: pointer;
    text-decoration: none;
}
.tooltip{

    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0);
    
}
.tooltip.in{
    /*opacity:0;
    filter:alpha(opacity=80);*/
    
}
.tooltip.top{
    margin-top:-2px;
}
.tooltip.right{
    margin-left:2px;
}
.tooltip.bottom{
    margin-top:2px;
}
.tooltip.left{
    margin-left:-2px;
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.left .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.bottom .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip.right .tooltip-arrow{
    bottom:0;
    left:0;
    margin-left:0;
    border-left:0 solid transparent;
    border-right:5px solid transparent;
    border-top:0 solid #000;
}
.tooltip-inner{
    width:200px;
    padding:3px 8px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#313131;
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0;
}
.timeline > li.timeline-inverted{
  float: right; 
  clear: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.timeline > li:nth-child(2){
  margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge{
  left: -12px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li {
      margin-bottom: 20px;
      position: relative;
      width:100%;
      float: left;
      clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
    
.timeline > li.timeline-inverted{
  float: left; 
  clear: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.timeline > li.timeline-inverted > .timeline-badge{
  left: 28px;
}
}

#ceo-image{
  margin-top: 15px;
}

#google-map { border-top:1px solid #F4F4F4; width:100%; height:400px; background-color:#5c5c5c;}

/*home.php contetnt*/

.nsbmnewsevent{
        border: 1px solid none;
        width: 344px;
      }
.nsbmnewsevent ul{
      padding: 0;
      }
.nsbmnewsevent li{
      list-style: none;
      border-bottom: 1px solid #95a5a6 ;
      padding: 5px;
      }
.et-run{
      background: black;
      }

#cont{
	margin-top:30px;
}
.mainlogo {
    width: 298px;
    float: left;
    background: #fff;
    border-color: #a50c10;
}
.mainL {
    float: left;
    background: #fff;
    background-color: #a50c10;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
