.timelinecontainer{
    width: 780px;
    font-family: 'Montserrat';
}
.textarea{
    padding: 70px 20px 100px 20px; 
}
.textarea-right{
    text-align: right;
    padding: 70px 20px 100px 20px; 
}
.year{
    color: #888;
    font-size: 20px;
    font-weight: 400;
}
.info{
    color: #222;
    font-weight: 700;
    font-size: 32px;
}

.icons{
    padding: 20px;
    text-align: center;
}
.icons img{
    
}
.tile{
    border-bottom: 1px  #ccc;
    border-bottom-style: dashed;
}